body {
  background-color: #e4f9f5;
}

.header {
  padding: 10px 10px;
  text-align: center;
}

.website-name {
  padding-top: 120px;
  margin: 0 auto;
  font-size: 50px;
  font-family: 'Caveat', cursive;
  font-weight: lighter;
  color: #66BFBF;
  text-align: center;
  position: relative;
}

.main-website-name {
  font-weight: bolder;
}

#container {
  width: 400px;
  height: 400px;
  position: relative;
  }
  
.mountain-image {
  text-align: center;
}

#top-cloud-image {
  text-align: center;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 80px;
  right: 200px;
}

#bottom-cloud-image {
  text-align: center;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 350px;
  right: 80px;
}


h2 {
  font-family: 'Mate SC', serif;
  color: #40514e;
  font-size: 25px;
}

h3 {
  font-family: 'Mate SC', serif;
  font-size: 20px;
  color: #11999E;
}

.maincontent1 {
  font-family: 'Montserrat', sans-serif
}

h3:hover {
  text-shadow: 1px 1px 1px;
}

.maincontent2 {
  table-layout: auto;
  width: 100%;
  font-family: 'Montserrat', sans-serif
}

.description {
  text-align: center;
  color: black;
  font-family: Georgia;
}

hr {
  border-color: #75cfb8;
  border-style: dotted none none none;
  border-width: 10px;
  width: 5%;
}

a {
  color: #11999E;
}

.footer {
  background-color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  height: 140px;
  text-align: center;
}

.contact-me-button {
   background: #30E3CA;
   background-image: -webkit-linear-gradient(top, #30E3CA, #11999E);
   background-image: -moz-linear-gradient(top, #30E3CA, #11999E);
   background-image: -ms-linear-gradient(top, #30E3CA, #11999E);
   background-image: -o-linear-gradient(top, #30E3CA, #11999E);
   background-image: -webkit-gradient(to bottom, #30E3CA, #11999E);
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   border-radius: 10px;
   color: #FFFFFF;
   font-family: 'Montserrat', sans-serif;
   font-size: 20px;
   font-weight: 100;
   padding: 10px;
   margin: 10px auto 20px auto;
   -webkit-box-shadow: 1px 1px 20px 0 #000000;
   -moz-box-shadow: 1px 1px 20px 0 #000000;
   box-shadow: 1px 1px 20px 0 #000000;
   text-shadow: 1px 1px 20px #000000;
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.contact-me-button:hover {
   border: solid #337FED 1px;
   background: #1E62D0;
   background-image: -webkit-linear-gradient(top,#30e3ca, #e4f9f5);
   background-image: -moz-linear-gradient(top, #30e3ca, #e4f9f5);
   background-image: -ms-linear-gradient(top, #30e3ca, #e4f9f5);
   background-image: -o-linear-gradient(top, #30e3ca, #e4f9f5);
   background-image: -webkit-gradient(to bottom, #30e3ca, #e4f9f5);
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   border-radius: 10px;
   text-decoration: none;
}

.contactform {
  margin-left: inherit;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
}
