body {
  background-color: #e4f9f5;
}

.header {
  padding: 10px 10px;
  text-align: center;
}

.website-name {
  padding-top: 120px;
  margin: 0 auto;
  font-size: 50px;
  font-family: 'Caveat', cursive;
  font-weight: lighter;
  color: #66BFBF;
  text-align: center;
  position: relative;
}

.main-website-name {
  font-weight: bolder;
}

#container {
  width: 400px;
  height: 400px;
  position: relative;
  }
  
.mountain-image {
  text-align: center;
}

#top-cloud-image {
  text-align: center;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 80px;
  right: 200px;
}

#bottom-cloud-image {
  text-align: center;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 350px;
  right: 80px;
}
